/*Cuerpo*/
.body {
    background: #f5EE31;
    width: 300px;
    height: 400px;
    border: 5px solid #000;
    position: relative;
    overflow: hidden;
}

/*Ojos*/
.ojos {
    position: absolute;
    left: 40px;
    top: 40px;
    width: 210px;
    z-index: 10;
}

/*Forma del ojo*/
.ojo {
    background: #fff;
    position: relative;
    border: 5px solid #000;
    width: 100px;
    height: 100px;
    margin-right: -17px;
    display: inline-block;
    border-radius: 50%;
}

/*Ojo externo*/

.ojo_externo {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #00AEEF;
    border: 3px solid #000;
    /*ubicacion central
	relleno azul*/
    position: absolute;
    top: 50px;
    right: 36px;
    /*left: 30px;*/
    /* 
    bottom: 20px*/
    ;
}

.ojo_interno {
    width: 30px;
    height: 30px;
    background: #000;
    border-radius: 50px;
    position: relative;
    top: 10px;
    left: 10px;
}

.pestanas {
    position: relative;
    bottom: 28px;
    left: 12px;
}

.pestana {
    width: 15px;
    height: 5px;
    background: #000;
    display: inline-block;
    /*    Entramos a la pagina de 
    generador de CSS3 
    link:https://css3generator.com/
    y le damos una rotacion de 90 grados*/
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-right: 10px;
}

.pestana.primera {
    position: relative;
    top: 10px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.pestana.tercera {
    position: relative;
    top: 10px;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);


}

/*Nariz*/
.nariz {
    width: 20px;
    height: 40px;
    background: #f5EE31;
    position: absolute;
    top: 100px;
    left: 125px;
    border: 5px solid #000;
    z-index: 10;
    border-bottom: 5px solid transparent;
    border-radius: 42.5%;
}

/*Boca*/
.boca {
    width: 200px;
    height: 80px;
    background: transparent;
    position: absolute;
    top: 120px;
    left: 50px;
    /*bottom: 100px;*/
    border-radius: 50%;
    z-index: 10px;
    border-bottom: 5px solid #000;
}

.dientes {
    position: relative;
    top: 80px;
    left: 65px;
}

.diente {
    width: 20px;
    height: 20px;
    background: #fff;
    border: 5px solid #000;
    display: inline-block;

}

.mejilla {
    width: 30px;
    height: 20px;
    background: transparent;
    position: absolute;
    top: 30px;
    border: 3px solid #f1592A;
    border-bottom: 3px solid transparent;
    border-radius: 50% 50% 20% 20%;
}

.mejilla.primera {
    left: -15px;
}

.mejilla.segunda {
    left: 175px;
}

/*Camisa*/

.camisa {
    width: 100%;
    height: 50px;
    position: absolute;
    background: #fff;
    bottom: 50px;
    border-top: 5px solid #000;
    z-index: 10;
    overflow: hidden;
}


.cuello {
    width: 50px;
    height: 30px;
    position: absolute;
    background: #fff;
    top: -25px;
    border: 5px solid #000;
    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.cuello.primero {
    left: 60px;
}

.cuello.segundo {
    left: 180px;
    -moz-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
}

.cuello_corbata{
	width: 40px;
	height: 40px;
	background: #f00200;
	border: 5px solid #000;
	position: absolute;
	left: 125px;
	bottom: 30px;
	z-index: 50;
-moz-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
-o-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}

.cola_corbata{
	width: 55px;
	height: 55px;
	background: #f00200;
	border: 5px solid #000;
	position: absolute;
	left: 118px;
	bottom: 0;
	z-index: 50;
	-moz-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
-o-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);

}
/*Pantalones*/
.pantalones{
	width: 100%;
	height: 50px;
	background: #6a3d13;
	position: absolute;
	bottom: 0%;
	/*top: 50%;*/
	border-top: 5px solid #000;
	z-index: 10;
}

.cinturon{
	width: 40px;
	height: 15px;
	position: absolute;
	top: 20px;
	background: #000;
}

.cinturon.primero{
	left: 20px;
}
.cinturon.segundo{
	left: 90px;
}
.cinturon.tercero{
	right: 80px;
}
.cinturon.cuarto{
	right: 20px;
}

/*POROS*/
.poro{
	background: #c0a402;
	height: 40px;
	width:  40px;
	position: absolute;
	border-radius: 50%;
	z-index: 1;
}

.poro.primero{
	top: 230px;
	left: 20px;
	height:50px ;
	width: 50px;
}

.poro.segundo{
	top: 200px;
	left: 280px;
}

.poro.tercero{
	top: 50px;
	left: 260px;
	height:15px ;
	width: 15px;
}

.poro.cuarto{
	top: 300px;
	left: 50px;
	height:30px ;
	width: 30px;
}